body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
}

#user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
}

#user-table th, #user-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid gray;
}

#user-table th {
    background-color: gray;
    color: black;
}

#user-table tbody tr:nth-child(even) {
    background-color: whitesmoke;
}

#user-table tbody tr:hover {
    background-color: lightslategray;
}


